@model FoodItem
@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h2>@Model.Name Details</h2></div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    <img src="@Model.URL" alt="@Model.Name" height="120" width="120" />
                </td>
                <td>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.URL)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.URL)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                    </dl>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <div class="text-center">
            <a class="btn btn-link" asp-action="List">
                Back to Food List
            </a>
        </div>
    </div>
</div>

